.footer {
	background-color: $bgColor;
	height: 490px;

	h1 {
		font-size: 1.8rem;
		font-family: "Brandon blk";
		text-transform: uppercase;
		color: #fff;
		border-bottom: 1px solid #fff;
		padding-bottom: 37px;
		margin-top: 93px;
		margin-bottom: 40px;
	}

	.download {
		border-bottom: 3px solid #fff;
		padding-bottom: 35px;
		margin-bottom: 36px;
	}

	.phone {
		margin-right: 30px;
	}

	li {
		padding-bottom: 20px;
	}

	li a {
		font-size: 1.5rem;
		font-family: "Brandon light";
		color: #e0e0e0;
		text-transform: uppercase;
		word-spacing: 5px;
		letter-spacing: 3px;
		text-decoration: none;
	}

	.fa {
		height: 45px;
		width: 45px;
		border: 2px solid #fff;
		//border-radius: 50%;
		color: #fff;
		text-align: center;
		line-height: 42px;
		font-size: 1.5rem;
	}
}