.insiderBg {
	background-image: url('../images/bg.png');
	background-position: center center;
  background-repeat: no-repeat;
  //background-attachment: fixed;	  
  //background-size: cover;
  width: 100vw;
	height: 483px;
	margin-top: -56px;
}