.location {
	height: 59.1rem;
	


	.locDetails {
		// TODO: oushfhwerfkjwerf lehfgerf ljhef ijef ;kwefd
		//margin-left: $marginLeft;
		margin-top: 10rem;
		width: 30.2rem;
		line-height: 30px;
		font-size: 18px;

		h4 {
			font-family: "Brandon blk";
			text-transform: uppercase;
		}

		p {
			font-family: "Roboto light";
			word-wrap: break-word;
		}
	}

	.showDirection {
		width: 25.9rem;
		height: 4.8rem;
		line-height: 4.5rem;
		border: 2px solid #a97852;
		font-family: "Brandon";
		font-size: 1.6rem;
		color: #a97852;
		text-transform: uppercase;
		margin-top: 8.4rem;

		&:hover {
			cursor: pointer;
		}

		span {
			margin-left: 5.6rem;
			margin-right: 5.6rem;
		}
	}


}

.map-wrap{
	position: relative;
	.map {
		//background-color: #E1E1E1;
		height: 591px;
		position: absolute;
		top: 0;
		left: calc( 50% - 100px );
		width: calc( 50% + 100px );
	}
}