.moreInfo {
	height: 936px;
	background-color: #e4e0de;

	.details {
		margin-top: 87px;

		.info {
			border-bottom: 2px solid #a97852;
			margin-bottom: 3.1rem;

			li {
				margin-bottom: 4.2rem;
			}
		}


		span {
			float: left;
			width: 4.7rem;
			text-align: center;
		}

		.infoText {
			overflow: hidden;
			padding-left: 3.2rem;
			
			h4 {
				font-family: "Brandon blk";
				margin-top: .8rem;
			}
			
			p {
				font-family: "Roboto light";
				margin-bottom: 0;
				word-spacing: 7px;
				line-height: 31px;
				font-weight: bold;
			}
		}		
	}


	.tagSection {
		display: inline-flex;
		flex-wrap: wrap;
		justify-content: left;
		margin-top: .7rem;
		height: auto;
		width: 570px;

		.tags {
			background-color: #eeeeee;
			height: 4.4rem;
			line-height: 4.4rem;
			margin-right: 1rem;
			margin-bottom: 0.9rem;
			padding-right: 2.5rem;
			padding-left: 2.5rem;
			font-family: "Brandon";
			text-transform: uppercase;
		}
	}
}