.venueName {
  text-align: center;
  text-transform: uppercase; }
  .venueName h1 {
    font-family: "Brandon blk";
    font-size: 2.5rem; }
  .venueName h2 {
    font-family: "Brandon light";
    font-size: 1.7rem; }
